body {
  background-image: url("https://cdn.britannica.com/10/152310-050-5A09D74A/Sand-dunes-Sahara-Morocco-Merzouga.jpg");
  color: white;
  text-align: center;
  
}

#myCanvas {
  border-radius: 30px;
  border: 15px double rgb(132, 202, 255);
}
